/*navbar styling*/
/*.bg-myTransparent{
    background: rgba(0,0,0,0.2);
}*/

.dropdown-item{
    font-size:17px !important;
}
.dropdown-item:hover{
    background: #ffae00 !important;
}
.nav-link{
    font-size:17px !important;
}
.nav-link:hover{
    color:#ffae00 !important;
}
.navbar-toggler{
    outline: none !important;
}

 /* h2{
    justify-content: center;
    text-align:center;
    margin: auto;
    padding: auto;
}
h3{
    color:#ffff !important;
    font-weight: bold !important;
}
p{
    color:#bfbdc1 !important;
/ } */

/*end of navbar styling*/

/*midcontainer logo section */

.section-logo {
    text-align: center;
    margin-top: 50px;
}

.section-logo .logo-header{
    color: #333 !important;
    font-size: 30px !important;
    font-weight: 300 !important;
}

.logo-container {
    margin-top: 5px;
    padding: 50px 100px;
    border: none;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: logo-move 3s linear 1s 1 alternate;
}
@media(max-width:991px){
    .logo-container{
        justify-content:center;
    }
}

@keyframes logo-move {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.logo-container img {
    margin-top: 6px;
}

/*end of midcontainer logo section*/

/*start of footer styling section*/
      section {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          min-height: 100px;
          flex-direction: column;

      }

      footer {
          position: relative;
          width: 100%;
          height: auto;
          padding: 40px 80px;
          background: #141414;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
      }

      .footer-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          flex-direction: row;
      }

      .footer-container .section {
          margin-right: 30px;
      }

      .footer-container .section .aboutus {
          width: 40%;
      }

      .footer-container .section h4{
          position: relative;
          color: #fff !important;
          font-weight: 500;
          margin-bottom: 15px;
          line-height: 1.5em;
          font-family: sans-serif;
      }

      .footer-container .section h4 span {
          color: #fb8500;
      }

      .footer-container .section h4::before {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 50px;
          height: 2px;
          background: #e85d04;
      }
       .header{
           text-transform: uppercase;
           color:#9999;
           font-weight: bold;
       }
      footer p {
          color: #999;
          line-height: 1.8em;
          font-size: 15px;
      }

      footer p a {
          color: #999;
          line-height: 1.6;
          font-size: 15px;
          text-decoration: none;
          cursor: pointer;
      }
      footer p a:hover{
          color:#fff !important;
      }

      .social-icons {
          margin-top: 20px;
          display: flex;
      }

      .social-icons li {
          list-style: none;
      }

      .social-icons li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: #222;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          text-decoration: none;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }

      .social-icons li a:hover {
          background: #e67e22;
      }

      .social-icons icon {
          color: #e2eaec;
          font-size: 20px;
          -webkit-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
      }

      .section .quicklinks {
          position: relative;
          width: 25%;
      }

      .section .quicklinks h2 {
          line-height: 1.8em;
      }

      .quicklinks ul li {
          list-style: none;
      }

      .quicklinks ul li a {
          color: #bfbdc1;
          text-decoration: none;
          margin-bottom: 10px;
          display: inline-block;
          -webkit-transition: color 0.3s ease;
          -o-transition: color 0.3s ease;
          -moz-transition: color 0.3s ease;
          transition: color 0.3s ease;
      }

      .quicklinks ul li a:hover {
          color: #FFF;
          text-decoration: underline;
      }

      .section .quotation {
          width: calc(35% - 60px);
          margin-right: 0 !important;
      }

      form {
          position: relative;
      }

      label {
          color: #ccc;
      }
     .selected{
         margin-bottom:20px;
         outline:none !important;
     }
      .text_input {
          width: 100%;
          padding: 12px 20px;
          margin-bottom: 10px;
          border-radius: 8px;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
          background-color: #e8eae5;
          outline: none;
      }

      input[type="email"] {
          color: #222;
      }

      button[type=submit] {
          width: 100%;
          background-color: #f8961e;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          outline:none !important;
          border-radius: 4px;
          cursor: pointer;
          text-transform: uppercase;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
      }

      button[type=submit]:hover {
          background-color: #ff8800;
          font-size: 17px;
          outline: none !important;
      }

      select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 8px;
          box-sizing: border-box;
          background-color: #eae6e5;
      }

      .copyrightText {
          width: 100%;
          background: #181818;
          padding: 8px 100px;
          text-align: center;
          color: #999;
      }

      @media (max-width:991px) {
          footer {
              padding: 40px;
          }

          .footer-container {
              flex-direction: column;
          }

          .footer-container .section {
              margin-right: 0;
              margin-bottom: 40px;
          }

          .footer-container .section.aboutus,
          .quicklinks,
          .quotation {
              width: 100%;
          }

          .copyrightText {
              padding: 8px 20px;
          }
          .text_input{
              outline:none !important;
          }
          .selected{
              outline:none !important;
          }

      }
/*End of footer styling*/

/*contact us styling*/
.contact-info {
    height: 100vh;
    display: grid;
    align-items: center;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-bottom: 40px;

}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1){
    flex: 30%;
    background: url('./images/contact.jpeg');
    color: #fff;

}

.contact-in:nth-child(2) {
    flex: 45%;
    background: #f39c12;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;

}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-in .contact-abt {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in .contact-abt a {
    color: #fff !important;
    font-size: 14px;
    cursor: pointer;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;

}

.contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a .s-icon {
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.contact-in ul li a .s-icon:hover {
    color: #e67e22;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #FFF;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'kumbh Sans', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

input:focus {
    color: black;
    font-size: 18px;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #FFF;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'kumbh Sans', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #FFF;
    outline: none;
    background: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    font-family: 'kumbh Sans', sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.contact-in-btn:hover,
.contact-in-btn:focus {
    background-color: #d35400;
}

.contact-in iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:480px) {
    .contact-in:nth-child(1) {
        flex: 50%;

    }

    .contact-in:nth-child(2) {
        flex: 50%;

    }

    .contact-in:nth-child(3) {
        flex: 100%;

    }
}

@media only screen and (max-width:360px) {
    .contact-in:nth-child(1) {
        flex: 50%;

    }

    .contact-in:nth-child(2) {
        flex: 50%;

    }

    .contact-in:nth-child(3) {
        flex: 100%;

    }
}

/*End of contact us styling*/
body{
   max-width:100%;
}
.main-container{
    width:100%;
    min-height: 100vh;
    padding-top:40px;
    margin-bottom: 40px;
}
.main-container .title{
    font-size:26px;
    color:#141414;
    line-height:1.6;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom:30px;
    margin-left:40px;
}
.main-container .title::after {
    content: "";
    width: 90px;
    height: 5px;
    background-color: #ff9f1c;
    border-radius: 5px;
    display: block;
}
#wrapper{
    margin:40px 40px;
}
.about-content{
    width:50%;
    float:left;
    text-align:left ;
}
.about-content #header-abt{
    color:#f39c12;
    font-size:20px;
    font-style:oblique;
    font-weight:500;
    line-height: 1.6;
    letter-spacing: .6px;
}
.about-content #header-us{
    color:#9d9d9d;
    letter-spacing: .5px;
    line-height:1.6;
    font-size:1.2em;
}
.about-content ul{
    list-style: none;
    margin-top:10px;
    line-height:1.6;
}
.about-content ul li .icon{
     margin-right:8px;
     color:#ffae00;
}
.about-content .button{
    width:100%;
    margin-top:20px;
    margin-bottom:25px;
}

.about-content .button a{
       color:#fff;
       background-color: #e67e22;
       padding:12px 35px;
       text-decoration: none;
       letter-spacing: 1px;
       font-size:17px;
       -webkit-transition: all .7s ease;
       -o-transition:all .7s ease;
       -moz-transition:all .7s ease;
       transition:all .7s ease;
       }

.about-content .button a:hover {
           color:#222;
       }
.image-section{
    width:45%;
    float:right;
}
.image-section img{
    max-width:100%;
    height:auto;
}

@media screen and (max-width:960px) {
    .main-container{
        max-width:100%;
    }
    .about-content{
        width:100%;
        float:none;
    }
    .about-content .button {
        margin-top: 40px;
        text-align: center;
    }
    .about-content .button a {
        padding: 8px 25px;
    }
    .image-section {
        width: 100%;
        float: none;
        margin-top: 30px;
    }
    .image-section img {
        max-width: 100%;
        height: auto;
    }
}

 /*end of about us styling*/

    /*Lan styling*/
    .lan-container{
        width:100%;
        padding-top:40px;
        margin-bottom: 40px;
    }
    #lan-title{
        font-size:26px;
        color:#e67e22;
        text-align:center;
        line-height:1.6;
        text-transform: initial;
        font-weight: 700;
        margin-bottom:20px;
        margin-left:40px;
    }
    .lan-header{
        text-align:center;
        font-size:17px;
        color:#222;
        line-height:1.6;
        letter-spacing:.6px;

    }
    .lan-header span{
        font-style: oblique;
        color:#e67e22;
        font-size: 18px;
    }
    .lan-content p{
        margin-left:40px;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        color:#181818;
        line-height: 1.6;
        letter-spacing: .6px;
         }

         .lan-content ul {
             list-style: none;
             margin-left:400px;
             justify-content: center;
             line-height: 1.6;
             margin-bottom: 30px;
            
         }

         .lan-content ul li .icon{
             margin-right: 8px;
             color: #f39c12;
         }

         .lan-content ul li span {
             color: #343a40;
             font-size: 15px;
         }
    
    .image-part{
        width:45%;
        float: none;
        margin-left:450px;
    }
    .image-part img{
        max-width:100%;
        height:auto;
    }
   
    @media screen and (max-width:960px){
        .lan-content p {
            text-align: center;
            font-size: 16px;
            color: #272727;
            font-family: sans-serif;
        }

        .lan-content ul {
            margin-left: 20px;
        }

        .image-part {
            width: 80%;
            margin-left: 25px;
            margin-bottom: 20px;
        }
    }
    /*end of lan styling*/
    /*start of structuring cable styling*/
     .cabling_container {
         width: 100%;
         padding-top: 40px;
     }

     .cabling_content p {
         font-size: 1.0em;
         font-family: sans-serif;
         font-weight: 300;
         text-align: center;
         line-height: 1.6;
         margin-top: 30px;
         padding-bottom: 30px;
         position: relative;
         animation-name: fadeInUp;
         animation: fadeInUp 4s ease 2.5s 1 alternate both;
     }

     @keyframes fadeInUp {
         0% {
             left: 0px;
         }

         25% {
             left: 200px;
         }

         50% {
             left: 200px;
         }

         75% {
             left: 0px;
         }

         100% {
             left: 0px;
         }
     }

     @keyframes fadeInUp {
         from {
             opacity: 0%;
             width: 0%;
         }

         to {
             opacity: 100%;
             width: 100%;
         }
     }

     .cabling_subheading {
         text-align: center;
         padding-top: 20px;
         padding-bottom: 20px;
         color: #e67e22;
         font-size: 17px;
         text-transform: uppercase;
     }

     .photo_section {
         float: none;
         background: url(images/cabling.jpg);
         width: 50%;
         height: auto;
         justify-content: center;
         align-items: center;
         background-repeat: no-repeat;
         background-size: cover;
         margin-bottom: 30px;
         animation-name: expand-fade-in;
         animation-duration: 2s;
         animation-timing-function: ease-out;
         animation-fill-mode: both;
     }

     @keyframes expand-fade-in {
         from {
             opacity: 0%;
             width: 0%;
         }

         to {
             opacity: 100%;
             width: 100%;
         }
     }

     .photo_section {
         font-size: 3.0em;
         margin: auto;
         text-transform: uppercase;
         color: #f39c12;
         padding-top: 150px;
         animation-name: fade-in;
         animation-duration: 1.5s;
         animation-timing-function: ease-out;
         animation-fill-mode: both;
         animation-delay: 2s;
     }

     @keyframes fade-in {
         from {
             opacity: 0%;
         }

         to {
             opacity: 100%;
         }
     }

     @keyframes fade-in {
         from {
             opacity: 0%;
         }

         to {
             opacity: 100%;
         }
     }

     @media screen and (max-width:960px) {
         .photo_section {
             width: 100%;
             height: auto;
         }

         .cabling_content p {
             padding-right: 30px;
         }
     }

    /*end of structuring cable styling*/
/* cctv styling*/
    
   .cctv-container {
       width: 100%;
       padding-top: 40px;
       margin-bottom:30px;
   }

   .cctv-container .cctv-title {
       font-size: 20px;
       color: #e67e22;
       line-height: 1.6;
       text-align: center;
       text-transform: uppercase;
       margin-top: 30px;
       padding-bottom: 10px;
       -webkit-transition: all .3s ease-out;
       -o-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
       transition: all .3s ease-out;
   }

   .cctv-container .cctv-title:hover {
       cursor: pointer;
   }

   .photo-section {
       float: none;
       width: 20%;
       margin-right: auto;
       margin-left: auto;
   }

   .photo-section img {
       width: 100%;
       height: auto;
   }

   .cctv-content p {
       text-align: center;
       line-height: 1.5;
       letter-spacing: 1;
       font-size: small;
       color: #343a40;
       font-weight: 500;
       font-size: 15px;
       line-height: 1.9em;
   }

   @media screen and (max-width:900px) {
       .cctv-container {
           width: 100%;
           padding-top: 40px;
       }

       .cctv-container .cctv-title {
           text-align: center;
       }

       p {
           padding-right: 20px;
       }

       .photo-section {
           width: 55%;
           margin-left: 100px;
       }
   }

/* end of cctv styling*/

/* Access styling*/
 .Access-Control-container {
     width: 100%;
     padding-top: 40px;
 }

 .Access-control-title {
     color: #e67e22;
     font-size: 25px;
     letter-spacing: .6px;
     text-align: center;
     justify-content: center;
     font-weight: 400;
     text-transform: uppercase;
     -webkit-transition: all .3s ease;
     -o-transition: all .3s ease;
     -moz-transition: all .3s ease;
     transition: all .3s ease;
 }

 .Access-control-title:hover {
     font-style: italic;

 }

 .Access-content h5 {
     font-size: 16px;
     text-align: center;
     font-weight: 300;
     color: #181818;
     font-weight: 400;
     letter-spacing: 1.5px;
     margin-bottom: 30px;
 }

 .Access-control-services h2 {
     font-family: monospace;
     font-weight: 600;
     letter-spacing: 1.5;
     text-align: center;
     font-size: 15px;
     text-transform: uppercase;
     color: #9d9d9d;

 }

 .Access-control-services ul li {
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
     font-weight: 300;
     font-size: 13px;
     color: darkslategrey;
     list-style: none;
 }

 .image-group {
     display: -moz-grid;
     grid-row: 1.7rem;
     padding-bottom: 30px;
     padding-left: 60px;
     margin-left: 60px;

 }

 @media screen and (max-width:900px) {
     .Access-Control-container {
         width: 100%;
         padding-top: 30px;
     }

     .access-class {
         padding-left: 100px;
     }

     .Access-control-title {
         color: #e67e22;
         font-size: 30px;
         letter-spacing: 1px;
         text-align: center;
         padding-bottom: 40px;
         font-weight: 400;
         text-transform: uppercase;
         font-family: 'Courier New', Courier, monospace;
     }

     .Access-content h3 {
         font-size: 16px;
         font-family: cursive;
         text-align: center;
         font-weight: 300;
         color: darkslategrey;
         letter-spacing: 1.5px;
         padding-bottom: 30px;
     }

     .Access-control-services h5 {
         font-family: monospace;
         font-weight: 600;
         letter-spacing: 1.5;
         text-align: center;
         font-size: 15px;
         text-transform: uppercase;
         color: #9d9d9d;

     }

     .Access-control-services ul li {
         text-align: center;
         list-style: none;
         padding-top: 10px;
         padding-bottom: 10px;
         font-weight: 300;
         font-size: 13px;
         color: darkslategrey;
     }

     .image-group {
         display: -moz-grid;
         grid-row: 1.7rem;
         padding-bottom: 30px;
         padding-left: 60px;
         margin-right: 60px;
     }

     .image-group img {
         width: 100%;
         height: auto;
     }
    }

/*End of Access styling */

/*fence styling*/

.ElectricFence-Container {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 10px;
}

.Fence-title {
    color: #e67e22;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 1px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.Fence-title:hover {
    font-size: 20px;

}

.Fence-content h4 {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 300;
    color: darkslategrey;
    letter-spacing: 1.5px;
    padding-bottom: 30px;
}

.photo-group {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.photo-group img {
    width: 100%;
    height: auto;
}

.Fence-content p {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #343a40;
    line-height: 1.6;
    letter-spacing: .6px;
}

.Fence-content .button {
    margin-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.Fence-content .button a {
    padding: 8px 25px;
}

.Fence-content .button {
    width: 100%;
    margin-top: 25px;
}

.Fence-content .button a {
    color: #fff;
    background-color: #e67e22;
    padding: 12px 35px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.Fence-content .button a:hover {
    color: black;
}

@media screen and (max-width:900px) {
    .ElectricFence-Container {
        width: 100%;
        padding-top: 40px;
        margin-bottom:10px;
    }

    .Fence-title {
        color: #e67e22;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        padding-bottom: 40px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: monospace;
        letter-spacing: 1px;
    }

    .Fence-content h3 {
        font-size: 16px;
        font-family: cursive;
        text-align: center;
        font-weight: 300;
        color: darkslategrey;
        letter-spacing: 1.5px;
        padding-bottom: 30px;
    }

    .photo-group {
        width: 75%;
        margin-left: 50px;
    }

    .Fence-content p {
        font-size: 15px;
        text-align: center;
        color: #343a40;
        margin-left: 30px;
    }

    .button {
        padding-right: 50px;
    }
}
/*end of fencestyling*/

/*cleanpower styling*/
    
.cleanpower-container {
    width: 100%;
    padding-top: 40px;
    margin-bottom: 20px;
}

.clean-class {
    padding-left: 650px;

}

.clean-class a {
    text-transform: uppercase;
    color: #464545;
    font-weight: 900;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.clean-class a:hover {
    color: #000;
}

.cleanpower-title {
    text-align: center;
    color: #fb8500;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-image {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.cleanpower-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.cleanpower-content p {
    font-size: 16px;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #343a40;
    line-height: 1.6;
}

@media screen and (max-width:900px) {
    .section-image {
        width: 75%;
        margin-left: 50px;
        padding-bottom: 10px;
    }

    .clean-class {
        padding-left: 100px;
    }

    .cleanpower-content p {
        padding-bottom: 10px;
        font-size: 15px;
        text-align: center;
        color: #343a40;
        margin-left: 20px;
    }
}
/*end of cleanpower styling*/

/*equipment styling*/

.equipment_container {
    width: 100%;
    padding-top: 40px;
    margin-bottom:30px;
}

.equipment_title {
    text-align: center;
    color: #e67e22;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.equipment_content img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.equipment_content p {
    margin-top: 20px;
    text-align: center;
    line-height: 1.6;
    font-size: 1.0em;
    font-family: sans-serif;
    color: #9d9d9d;
    font-weight: 400;
    margin-bottom: 20px;
}

.equipment_content p span {
    color: #d35400;
}

.equipment_content a {
    color: #000;
}

@media screen and (max-width:960px) {
    .equipment_content p {
        text-align: center;
        line-height: 1.6;
        font-size: 1.0em;
        font-family: sans-serif;
        color: #9d9d9d;
        font-weight: 400;
        margin-bottom: 20px;
    }
}
/*end of equipment styling*/

/*preventive styling*/

.preventive-container {
    width: 100%;
    padding-top: 40px;
}

.preventive-title {
    text-align: center;
    line-height: 1.5;
    letter-spacing: .2rem;
    color: #e67e22;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.about-maintenance {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    margin-top:20px;
}

.contactus-button a {
    color: white;
    text-decoration: none;
}

.contactus-button a:hover {
    color: #222;
}

.preventive-container .contactus-button {
    border: none;
    background-color: #ff9f1c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 7px;
    cursor: pointer;
    margin-bottom:20px;
}

.image_section {
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image_section img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:960px) {
    .image_section {
        width: 75%;
        margin-left: 50px;
    }
}
/* end of preventive styling*/

/*service styling*/

.service-container {
    width: 100%;
    padding-top: 40px;
}

.service-container .service-title {
    text-transform: uppercase;
    color: #e67e22;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: .3rem;
}

.about-servicing {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: .6px;
    margin-top:20px;
    margin-bottom: 20px;
}

.image_part {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.image_part img {
    width: 100%;
    height: auto;
}

@media screen and (max-width:900px) {
    .image_part {
        width: 75%;
        margin-left: 50px;

    }
}

/* end of service styling*/

