.dropdown-item{
    font-size:17px !important;
}
.dropdown-item:hover{
    background: #ffae00 !important;
}
.nav-link{
    font-size:18px !important;
}
.nav-link:hover{
    color:#ffae00 !important;
}
.navbar-toggler{
    outline: none !important;
}

h2{
    justify-content: center;
    text-align:center;
    margin: auto;
    padding: auto;
}


